.main{
    .Wrap{
        background-color:tomato;
        margin: 50px 50px;
        display: flex;
        width: 1220px;
        height: 600px; 
        .Wrapper1{
            margin: 50px;
            background-color: skyblue;
            width: 200px;
            height: 500px;
            align-items: center;
            .box1{background-color: tomato;
            width: 160px;
            margin: 20px 20px;
display: flex;
justify-content: space-around;
flex-direction: column;
            li{display:block;
                text-align: center;
                margin-bottom: 50px;
                a{display: block;
                 background-color:skyblue;
                 width: 160PX;
                  }
             
             }

            }
        }
        .Wrapper2{margin: 50px;
            background-color: skyblue;
            width: 1020px;
            height: 500px;

        }
    }
}